{% extends "base.html" %} {% block content %}

<h2>Categories</h2>
{% for category in categories %}

<ul>
	<li>
		<p>Name: <strong>{{ category.name }}</strong></p>
	</li>
	<li>
		<p>Number of visits: <strong>{{ category.visits }}</strong></p>
	</li>
	<li>
		<p>Number of likes: <strong>{{ category.likes }}</strong></p>
	</li>
</ul>
<hr />

{% endfor %}

<hr />

<h2>Pages</h2>
{% for page in pages %}

<ul>
	<li>
		<p>Title: <strong>{{ page.title }}</strong></p>
	</li>
	<li>
		<p>Website: <strong>{{ page.url }}</strong></p>
	</li>
	<li>
		<p>Category: <strong>{{ page.category }}</strong></p>
	</li>
	<li>
		<p>Number of views: <strong>{{ page.views }}</strong></p>
	</li>
</ul>

<hr />

{% endfor %} {% endblock content %}
