{% extends "base.html" %} {% block content %}
<h2>Query</h2>
<form action="" method="GET">
	<label for="text">Company Name</label> <br /><br />
	<input type="text" name="company_name" /> <br />
	<br />
	<input type="submit" />
	<hr />
</form>

<h2>Query Results</h2>

{% if people %} {% for person in people %}
<ul>
	<li>Name: <strong>{{ person.person_name }}</strong></li>
	<li>Company: <strong>{{ person.company_name }}</strong></li>
	<li>City: <strong>{{ person.person_name.city }}</strong></li>
</ul>
<hr />
{% endfor %} {% else %}
<p>Please enter company name.</p>
{% endif %} {% endblock content %}
